body {
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #515472;
    background-image: url("img/background.jpg");
    background-size: 100%;
    color: gray;
}

h1 {
    width: 100%;
    text-align: center;
}

div {
    margin: 20px;
}

input {
    min-width: 100px;
    background-color: transparent;
    color: darkgreen;
    padding: 5px;
    border-color: darkgreen;
    border-left: hidden;
    border-top: hidden;
    border-right: hidden;

}

label {
    font-weight: bold;
    font-size: 1.17em;
}

button {
    padding: 5px;
    background-color: gray;
    background-color: #2a7d30;
    border-radius: 2px;
    border-width: 0;
}

#error {
    color: red;
    font-weight: bold;
    font-size: 1.17em;
    visibility: hidden;
}